Chapter05/.ipynb_checkpoints/desktop.ini
Chapter05/.ipynb_checkpoints/Product Analytics-checkpoint.ipynb
Chapter04/.ipynb_checkpoints/desktop.ini
Chapter04/.ipynb_checkpoints/From Engagement to Conversions-checkpoint.ipynb
Chapter03/.ipynb_checkpoints/desktop.ini
Chapter03/.ipynb_checkpoints/RegressionAnalysis-checkpoint.ipynb
Chapter02/.ipynb_checkpoints/ConversionRate-checkpoint.ipynb
Chapter02/.ipynb_checkpoints/desktop.ini
Chapter01/.ipynb_checkpoints/desktop.ini
Chapter01/.ipynb_checkpoints/Setting Up Python Environment-checkpoint.ipynb
Chapter06/.ipynb_checkpoints/desktop.ini
Chapter06/.ipynb_checkpoints/ProductRecommendation-checkpoint.ipynb
Chapter07/.ipynb_checkpoints/CustomerBehaviors-checkpoint.ipynb
Chapter07/.ipynb_checkpoints/desktop.ini
Chapter08/.ipynb_checkpoints/desktop.ini
Chapter08/.ipynb_checkpoints/PredictingEngagement-checkpoint.ipynb
Chapter09/.ipynb_checkpoints/CustomerLifetimeValue-checkpoint.ipynb
Chapter09/.ipynb_checkpoints/desktop.ini
Chapter10/.ipynb_checkpoints/CustomerSegmentation-checkpoint.ipynb
Chapter10/.ipynb_checkpoints/desktop.ini
Chapter11/.ipynb_checkpoints/CustomerRetention-checkpoint.ipynb
Chapter11/.ipynb_checkpoints/desktop.ini
Chapter12/.ipynb_checkpoints/ABTesting-checkpoint.ipynb
Chapter12/.ipynb_checkpoints/desktop.ini
